# Simple workflow for deploying static content to GitHub Pages
name: Run VRChat API Tracker

on:
  # Runs every hour by default
  schedule:
    - cron: '0 * * * *'
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  # Single deploy job since we're just deploying
  deploy:
    env:
      output: "KemocadeVrcApiTrackerOutput"
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac
        
      - name: VRChat API Tracker Action
        uses: kemocade/Kemocade.Vrc.Api.Tracker.Action@c745cbfea0b212291ef3925c3820ff9fb8e9cca5
        with:
          output: ${{ env.output }}
          username: ${{ vars.VRCHAT_USERNAME }}
          password: ${{ secrets.VRCHAT_PASSWORD }}
          key: ${{ secrets.VRCHAT_KEY }}
          worlds: ${{ vars.VRCHAT_WORLD_IDS }}
          groups: ${{ vars.VRCHAT_GROUP_IDS }}
          bot: ${{ secrets.DISCORD_BOT_TOKEN }}
          discords: ${{ vars.DISCORD_GUILD_IDS }}
          channels: ${{ vars.DISCORD_CHANNEL_IDS }}
          
      - name: Generate Directory Listings
        uses: jayanta525/github-pages-directory-listing@19ee734e017b656528749434335f75a1efb931bc
        with:
          FOLDER: ${{ env.output }}
          
      - name: Setup Pages
        uses: actions/configure-pages@f156874f8191504dae5b037505266ed5dda6c382
        
      - name: Upload artifact
        uses: actions/upload-pages-artifact@a753861a5debcf57bf8b404356158c8e1e33150c
        with:
          path: ${{ env.output }}
          
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@9dbe3824824f8a1377b8e298bafde1a50ede43e5